* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4d4a4a!important;
    color: #fff;
    font: 1em sans-serif;
    font-family:sans-serif;
    margin-top: 0px;
}


.main-wrapper {
    display: flex;
  flex-direction: column;
  min-height: 100%;
  }

.top-content {
    flex-grow: 1;
    /* margin-bottom: 30px; */
    /* min-height: 100%; */
    
}

h2 {
    margin-top: 120px;
}

.content {
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 150px);
    text-align: center;
    background-color: #1c1c1c;
    padding: 10px 50px 10px;
    border-bottom: 3px solid #fff;
    color: white;
    /* border-top: 3px solid white; */
}
.main-page {
    /* main: flex; */
    /* width:auto;s */
    /* display: table-cell;
  max-width:70%; */
  /* box-sizing: border-box; */
}
.page-header {
    border-top: 1px solid #eee;
}

.text {
    /* overflow-wrap: break-word */
}

.main-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-height: 50px;
    background: #1c1c1c;
    width: 100vw;
    position: fixed;
    /* margin-top: 0px; */
    z-index: 100;
}

.main-header .loginUcon {
    /* margin-left: auto; */
    /* height: 80%; */
    width: 80%;
    border: none;
    border-radius: 50%;
    flex-basis: 10%;
    

    /* background-color: red; */
}

.main-header .loginUcon:hover {
    /* margin-left: auto; */
    /* height: 80%; */
    width: 85%;
    -webkibox-shadow: 0px 0px 10px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 10px rgba(255,255,255,0.8);
    /* background-color: red; */
}

.hrading {
    /* padding-top: 50px; */
}
.logo {
    height: 50px;
    max-width: 300px;
}

.main-footer {
    display: flex;
    justify-content:flex-end;
    /* position: absolute; */
    align-items: center;
    min-height: 100px;
    background: #1c1c1c;
    width: 100vw;
    color: white;
}

.main-footer p {
    padding-right: 25px;
    z-index: 100;
    margin: 0 0 -30px;
}

td {
    border: 1px solid black;
    border-radius: 6px;
    width: 100px;
    height: 100px;
    margin: 3px;
    padding: auto;
    vertical-align: middle;
    text-align: center;

}

.slider {
    width: 100vw;
    height: 750px;
    display: flex;
    justify-content: center;
    margin-top: -100px;
    
}

/* controls-layer ng-pristine ng-untouched ng-valid ui-droppable ng-empty controls-layer--active */

.slider-img {
    width: 100%;
    /* border-top: 3px solid #fff; */
    border-bottom: 3px solid #fff;
    position: fixed;
    left: 0;
}

.slider .slider-text {
    position: absolute;
    text-align: center;
    
}



.topnav {
    overflow: hidden;
    margin-left: auto;
    /* flex-shrink: 0; */
    flex-basis: 60%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 99px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 5px solid #fff;
    color: white;
    text-decoration: none

  }
  
  .topnav a.active {
    border-bottom: 3px solid #fff;
  }

  .content .table-wrapper {
    /* width: 80%!important; */
    color: white;
  }

  #alert {
    display: none;
  }


.table-hover>tbody>tr:hover {
    color: black;
}

.table-bordered>tbody>tr>td {
    height: 60px;
}

